<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton (click)="openPopup(longContent, null)"> Nuova visita
  </label>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Data</th>
      <th scope="col" >Tipo visita</th>
      <th scope="col" >Motivazione</th>
      <th scope="col">Prezzo</th>
      <th scope="col">Utente</th>
      <th scope="col" class="icon_column">Dettaglio</th>
      <th scope="col" class="icon_column">Elimina</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let examination of examinationsPaged" [ngClass]="{'examination-done': isExaminationDone(examination), 'examination-todo': !isExaminationDone(examination)}">
      <td>{{examination.id}}</td>
      <td>{{examination.date}}</td>
      <td>{{examination.type}}</td>
      <td>{{examination.reason}}</td>
      <td>{{examination.price}}</td>
      <td>{{getPerson(examination.personId).name}} {{getPerson(examination.personId).lastName}}</td>
      <td (click)="openPopup(longContent, examination)">
        <div class="detail_icon"></div>
      </td>
      <td (click)="deleteExamination(examination)">
        <div class="delete_icon"></div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
</div>

<!-- POPUP INSERIMENTO/MODIFICA -->
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Visita</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- data -->
    <span>Data</span><br/>
    <form class="form-inline">
      <div class="form-group inputWidth">
        <div class="input-group inputWidth">
          <input class="form-control" placeholder="yyyy-mm-dd"
                name="data" [(ngModel)]="medicalExamination.dateCalendar" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
    <!-- data end -->
    
    <br/><span>Tipo visita</span><br/>
    <input type="text" [(ngModel)]="medicalExamination.type" class="inputWidth"><br/>

    <br/><span>Motivo</span><br/>
    <input type="text" [(ngModel)]="medicalExamination.reason" class="inputWidth"><br/>

    <br/><span>Prezzo</span><br/>
    <input type="text" [(ngModel)]="medicalExamination.price" class="inputWidth"><br/>

    <br/><span>Utente</span><br/>
    <select class="inputWidth" [(ngModel)]="medicalExamination.personId">
      <option *ngFor="let person of peopleAvailable" value="{{person.id}}">
        {{person.name}} {{person.lastName}}
      </option>
    </select>
    <br/>
  </div>
  <div class="modal-footer">
    <div class="btn-group btn-group-toggle">
      <label class="btn-primary button_margin" ngbButtonLabel>
        <input type="checkbox" ngbButton (click)="saveDetail()"> Salva
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton (click)="modal.close('Close click')"> Chiudi
      </label>
    </div>
  </div>
</ng-template>
<!-- POPUP INSERIMENTO/MODIFICA -->


