<html>
<head>
	<script src="js/vue.min.js"></script>
</head>
<body>

<div id="app">
  <input v-model="name"><br/>
  <input v-model="lastName"><br/>
  <button v-on:click="createPerson()">Crea Persona</button>
  
  <table border=1>
  	<tr v-for="person in listPerson">
		<td>{{ person.name + " " + person.lastName }}</td>
 	 </tr>
  </table>
  
</div>

<script>
var app = new Vue({
	el: '#app',
  	data: {
    	message: 'Hello Vue!',
    	name: '',
    	lastName:'',
    	listPerson:[]
  	},
  	created: function(){
  		
  		this.readPersons();
      	
  	},
  	methods: {
    	createPerson: function (event) {
      		
      		if(this.name == "" || this.lastName == ""){
      			alert("Verificare i parametri di input");
      			return;
      		}
      		
      		var myInit = { 
      			method: 'POST',
      			headers: {
      				'Accept': 'application/json',
      				'Content-Type': 'application/json'
    			},
    			body: JSON.stringify({name: this.name, lastName: this.lastName})
      		};
			
			var url = "/food/person/insert";
			
			const promise = fetch(url, myInit).then(function(response) {

				console.log("http status: " + response.status);
				console.log("http status: " + response.ok);

				return response.json();
			});

			promise.then((json) => {
				console.log("Stato salvataggio: " + json.success);
				this.name = "";
				this.lastName = "";
				this.readPersons();
			},
			(error) => {
				console.log("Errore generico: " + error);
			});
      		
      		
    	},
    	readPersons: function(){
    	
    		this.listPerson = [];
    	
    		var myInit = { 
      			method: 'GET',
      			headers: {
      				'Accept': 'application/json',
      				'Content-Type': 'application/json'
    			}
      		};
      		
      		var url = "/food/person/get";
			
			const promise = fetch(url, myInit).then(function(response) {
				console.log("http status: " + response.status);
				console.log("http status: " + response.ok);
				return response.json();
			});	
		
			promise.then((json) => {
		
				json.data.forEach(person => this.listPerson.push(person));
		
			},
			(error) => {
				console.log("Errore generico: " + error);
			});
    	}
  	}
})
</script>

</body>
</html>