<html>
<head>
	<script src="js/vue.min.js"></script>
</head>
<body>

<div id="app">
  <input v-model="personSelected.name"><br/>
  <input v-model="personSelected.lastName"><br/>
  <button v-on:click="createOrUpdatePerson()">
  	<span v-if="personSelected.id == null">Crea persona</span>
  	<span v-if="personSelected.id != null">Aggiorna persona</span>
  </button>
  
  <button v-on:click="cancell()">Annulla</button>
  
  <table border=1>
  	<tr v-for="person in listPerson">
		<td>{{  person.name + " " + person.lastName }}</td><td v-on:click="doUpdate(person)">Modifica</td><td v-on:click="deletePerson(person)">Elimina</td>
 	 </tr>
  </table>
  
</div>

<script src="js/index.js"></script>

</body>
</html>