<nav class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand">Menù</span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      
        <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button" (click)="openPersonDetail()">
            Utenti
            </a>
        </li>

        <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button" (click)="openMedicineDetail()">
            Farmaci
            </a>
        </li>

        <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button" (click)="openExamination()">
            Visite
            </a>
        </li>

    </ul>
  </div>
</nav>

<app-farmacolist *ngIf="showMedicineList"></app-farmacolist>
<app-personlist *ngIf="showPersonList"></app-personlist>
<app-medicalexaminationlist *ngIf="showExaminationList"></app-medicalexaminationlist>