<button (click)="openPopup(longContent)">Nuovo</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col" class="icon_column">Dettaglio</th>
      <th scope="col" class="icon_column">Elimina</th>
      <th scope="col" class="icon_column">Farmaci</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personPaged">
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
      <td>{{person.lastName}}</td>
      <td (click)="openPopup(longContent, person);">
        <div class="detail_icon"></div>
      </td>
      <td (click)="deletePerson(person)">
        <div class="delete_icon"></div>
      </td>
      <td (click)="openTableMedicines(person)">
        <div class="list_icon"></div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
</div>

<div *ngIf="showMedicines" class="divDetail">
  <button (click)="closeTableMedicines()">Chiudi</button>
  <app-farmacolist [personId]="personInput.id"></app-farmacolist>
  <app-medicalexaminationlist [personId]="personInput.id"></app-medicalexaminationlist>
</div>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Utente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Nome</span><br/>
    <input type="text" name="nomeFarmaco" [(ngModel)]="personInput.name" class="inputWidth"><br/>
    <br/><span>Cognome</span><br/>
    <input type="text" name="descrizione" [(ngModel)]="personInput.lastName" class="inputWidth"><br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="savePerson()">Salva</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Chiudi</button>
  </div>
</ng-template>