<button (click)="openPopup(longContent, null)">Nuovo</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Data</th>
      <th scope="col">Scadenza</th>
      <th scope="col">Scadenza se aperto</th>
      <th scope="col" sortable="nomeFarmaco">Nome</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Utente</th>
      <th scope="col" class="icon_column">Dettaglio</th>
      <th scope="col" class="icon_column">Elimina</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medicine of medicinePaged" [ngClass]="{'medicine-expired': isMedicineExpired(medicine)}">
      <td>{{medicine.id}}</td>
      <td>{{medicine.date}}</td>
      <td>{{medicine.dateExpiry}}</td>
      <td>{{medicine.dateExpiryWhenOpened}}</td>
      <td>{{medicine.name}}</td>
      <td>{{medicine.description}}</td>
      <td>{{getPerson(medicine.personId).name}} {{getPerson(medicine.personId).lastName}}</td>
      <td (click)="openPopup(longContent, medicine)">
        <div class="detail_icon"></div>
      </td>
      <td (click)="deleteMedicine(medicine)">
        <div class="delete_icon"></div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
</div>

<!-- POPUP INSERIMENTO/MODIFICA -->
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Farmaco</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- data -->
    <span>Data</span><br/>
    <form class="form-inline">
      <div class="form-group inputWidth">
        <div class="input-group inputWidth">
          <input class="form-control" placeholder="yyyy-mm-dd"
                name="data" [(ngModel)]="medicine.dateCalendar" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
    <!-- data end -->

    <!-- data scadenza -->
    <br/><span>Data scadenza</span><br/>
    <form class="form-inline">
      <div class="form-group inputWidth">
        <div class="input-group inputWidth">
          <input class="form-control" placeholder="yyyy-mm-dd"
                name="dataScadenza" [(ngModel)]="medicine.dateExpiryCalendar" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
    <!-- data scadenza end -->

    <!-- data scadenza se aperto -->
    <br/><span>Data scadenza se aperto</span><br/>
    <form class="form-inline">
      <div class="form-group inputWidth">
        <div class="input-group inputWidth">
          <input class="form-control " placeholder="yyyy-mm-dd"
                name="dataScadenzaAperto" [(ngModel)]="medicine.dateExpiryWhenOpenedCalendar" ngbDatepicker #d3="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
    <!-- data scadenza se aperto end -->
    
    <br/><span>Nome farmaco</span><br/>
    <input type="text" name="nomeFarmaco" [(ngModel)]="medicine.name" class="inputWidth"><br/>

    <br/><span>Descrizione</span><br/>
    <input type="text" name="descrizione" [(ngModel)]="medicine.description" class="inputWidth"><br/>

    <br/><span>Ragione utilizzo</span><br/>
    <input type="text" name="cause" [(ngModel)]="medicine.cause" class="inputWidth"><br/>

    <br/><span>Utente</span><br/>
    <select class="inputWidth" [(ngModel)]="medicine.personId">
      <option *ngFor="let person of peopleAvailable" value="{{person.id}}">
        {{person.name}} {{person.lastName}}
      </option>
    </select>
    <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="saveDetail()">Salva</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Chiudi</button>
  </div>
</ng-template>
<!-- POPUP INSERIMENTO/MODIFICA -->

